*{
    text-align: center;
    margin: 0;
    padding: 0;
}


.section1{
    height: 100vh;
    overflow: hidden;
}

.main-container{
    height: 100%;
    width: 500vw;
    display: flex;
    flex-direction: row;
    position: relative;
    animation-name: movement;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pictures{
    width: 20%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}





@keyframes movement{
    0%{
        left: 0
    }
    
    20%{
        left: 0;
    }

    25%{
        left: -100vw;
    }

    45%{
        left: -100vw;
    }

    50%{
        left: -200vw;
    }

    70%{
        left: -200vw;
    }

    75%{
        left: -300vw;
    }

    95%{
        left: -300vw;
    }

    
    100%{
        left: -400vw;
    }
}
